
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #E1E0B9;
  color: #84021c;
}

a {
  text-decoration: none;
  color: #84021c;
}

.panel-footer {
 
}

.eachlistitem {
  list-style: none;
}

.navbar {
  background-color: #E1E0B9;
}

.addrest {
  text-align: center;
  font-size: 20px;
}
